[Unit]
Description=hello
After=network.target

[Socket]
ListenStream=80
NoDelay=true

[Service]
Type=simple
Restart=on-failure
RestartSec=5s
User=root
Group=root
WorkingDirectory=/usr/local/sbin
ExecStart=/usr/local/sbin/hello

PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/hello
ExecStartPre=/bin/chown syslog:adm /var/log/hello
ExecStartPre=/bin/chmod 755 /var/log/hello
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=hello

[Install]
WantedBy=multi-user.target
